body {
  background: url("../images/beach-g51216c849_1920.jpg"),linear-gradient(rgba(45, 52, 66, 0.4),rgba(45, 52, 66, 0.4));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p,
.form-label,
.form-control,
.form-check-label {
  font-size: 16px;
  opacity: 80%;
}

.heading {
  color: #04aec5;
}

h6 {
  font-size: 18px;
}

.card {
  border-radius: 8px;
  border-top: 7px solid #04aec5;
}

.form-control,
.form-select {
  background-color: #f9f9f9;
}

.card-title {
  text-align: center;
  color: #04aec5;
}

.btn {
  background-color: #04aec5;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: .5rem 1.2rem;
}

.btn:hover {
  color: #04aec5;
  background-color: #e3e3e3;
}

.output {
  color: #04aec5;
  padding: .5rem;
  text-align: center;
  border-radius: 5px;
}

.par {
  font-size: 1.1rem;
  font-weight: bold;
}